.container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.commessa-attivita{
    display: flex;
    flex-direction: row;
    min-width: calc(30% - 2vw);
    flex: 1;
    margin-left:3vw ;
}


.commessa-attivita h3 {
    margin: 0;
    margin-bottom: 1vh;
    text-align: center;
}

.week{
    min-width: calc(70% - 2vw);
    flex: 1;
    margin-right: 3vw;
}
.commessa-attivita-item{
  font-size: larger;
  margin-bottom: 10px;
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  transition: ease-in-out 0.2s;
  text-align: center;
}

.commessa-attivita-item:hover{
    cursor: pointer;
    background-color: #f0f0f0;
}

.selected{
    background-color: #f0f0f0;
}

/* th{
    margin-bottom: 1vh;
} */
th, td {
  word-wrap: break-word;
  word-break: break-all;
}

dialog {
    border: none !important;
    padding: 1.5em;
    width: 40%;
    height:fit-content;
}
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 1em;
    resize: none;
  }

  .dialog-content-up{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 80%;
  }

  .dialog-content-bottom{
    margin-top: 1rem;
    display: flex;
    justify-content: flex-end;
  }

  hr{
    /* margin-left: 0; */
    width: 80%;
    text-align: start;
  }
  hr:last-child {
    display: none;
  }

  .tempo-dettaglio{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
  }
  .tempo-dettaglio input{
    width: 70%;
    margin-left: 1em;
  }


  .is-valid{
    border: 2px solid green;
  }
 .is-valid:focus{
    outline-color: green;
    border: 2px solid green;
  }

  .is-invalid:focus{
    outline-color: red;
    border: 2px solid red;
  }
  .is-invalid{
    border: 2px solid red;
  }

.details{
  padding:0 5px 0 5px;
}



.modal-overlay {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center; 
  z-index: 1;
}

.modal{
  width: 50%; 
  height: 50%;
  background-color: white; 
  padding: 20px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  z-index: 2; 
}
