<div class="container">
  <div class="commessa-attivita">
    <div style="width: 50%;" class="pop">
      <h3>Cod commessa</h3>
      <select #commesse [(ngModel)]="selectedCommessa">
        <option disabled selected value>Scegliere una commessa</option>
    @for(commessa of JobList; track commessa){
      <!-- <div [class.selected]="commessa === selectedCommessa" class="commessa-attivita-item" (click)="selectCommessa(commessa)" >{{commessa.Name}}</div>
      <hr> -->
      <option [ngValue]="commessa">{{commessa.Name}}</option>
    }
      </select>
    </div>

    <div style="width: 50%;" class="pop">
      <h3>Cod attivita</h3>
      <select #attivita [(ngModel)]="selectedAttivita">
        <option disabled selected value>Scegliere un'attivita</option>
      @if(selectedCommessa){
        @for(attivita of JobTaskList; track attivita){
          @if(attivita.JobRecordId == selectedCommessa.JobRecordId){
            <!-- <div  [class.selected]="attivita === selectedAttivita" class="commessa-attivita-item" (click)="selectAttivita(attivita)">{{attivita.Name}}</div>
            <hr> -->
            <option [ngValue]="attivita">{{attivita.Name}}</option>
          }
        }
        
      }
    </select>
    </div>
  </div>

  <div class="week">
    <table style="width: 100%; text-align: center; table-layout: fixed;">
        <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
        
           
            @for(row of selectedWeek.Work; track row){
              <!-- @if((row.JobTaskRecordId == selectedAttivita.JobTaskRecordId 
              && row.JobRecordId == selectedCommessa.JobRecordId) || (blahblah == null? && blahblah == null) ) -->
            @if(selectedCommessa && selectedAttivita){
              @if(row.JobRecordId == selectedCommessa.JobRecordId 
              && row.JobTaskRecordId == selectedAttivita.JobTaskRecordId ){
                <tr>
                  @for(day of Days; track day){
                    <td>
                      <div class="tempo-dettaglio">
                      <form [formGroup]="timeForm">
                        <input type="text" formControlName="time"
                        [class.is-valid]="timeForm.controls['time'].valid" 
                        [class.is-invalid]="!timeForm.controls['time'].valid && timeForm.controls['time'].touched">
                      </form>
                      <div>{{row[day+'Units']}} </div>
                      <button type="button" class="details" (click)="openModal(row, day);">⋮</button>
                      <!-- per far vedere dettaglio di ogni cell, forse serve una 
                      logica di WeekWorkJournalRecordId, per non confondere le righe
                        -->
                      </div>
                    </td>
                  }  
                </tr>
          }
          }
        }
          </tbody>
    </table>
  </div>
</div>

@if(showModal == true){
<div class="modal-overlay">
  <div class="modal">
    <div class="dialog-content-up">
      <h2>Data</h2>
      <form>
        <textarea placeholder="Write your note here">{{note}}</textarea>
      </form>
    </div>
    
    <div class="dialog-content-bottom">
      <button (click)="closeModal()">OK</button>
    </div>
  </div>
</div>
}
<!-- <button (click)="dialog.showModal()">Show dialog</button> -->