<div class="container">
  <div class="commessa-attivita">
    <div style="width: 50%;">
      <h3>Cod commessa</h3>
    @for(commessa of JobList; track commessa){
      <div [class.selected]="commessa === selectedCommessa" class="commessa-item"(click)="selectCommessa(commessa)" >{{commessa.Name}}</div>
      <hr>
    }
    </div>

    <div style="width: 50%;">
      <h3>Cod attivita</h3>
      @if(selectedCommessa){
        @for(attivita of JobTaskList; track attivita){
          @if(attivita.JobRecordId == selectedCommessa.JobRecordId){
            <div class="attivita-item">{{attivita.Name}}</div>
            <hr>
          }
        }
      }
    </div>
  </div>

  <div class="week">
    <table style="width: 100%; text-align: center; table-layout: fixed;">
        <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
          <tbody>
        

            
            <tr>
              <td class="tempo-dettaglio">
                <form [formGroup]="timeForm">
                  <input type="text" formControlName="time"
                  [class.is-valid]="timeForm.controls['time'].valid" 
                  [class.is-invalid]="!timeForm.controls['time'].valid && timeForm.controls['time'].touched">
                </form>
                <button type="button" class="details">⋮</button>
              </td>
            </tr>
          </tbody>


    </table>
  </div>
</div>


<dialog #dialog>
  <div class="dialog-content-up">
    <h2>Data</h2>
    <form>
      <textarea placeholder="Write your note here"></textarea>
    </form>
  </div>
  
  <div class="dialog-content-bottom">
    <button (click)="dialog.close()">OK</button>
  </div>
</dialog>

<button (click)="dialog.showModal()">Show dialog</button>
<button (click)="showWorkWeek()"></button>