<div class="container">
  <div class="comessa-attivita">
    <div>
      <h3>Cod commessa</h3>
    @for(commessa of JobList; track commessa){
      <div (click)="selectCommessa(commessa)" >{{commessa.Name}}</div>
    }
    </div>

    <div>
      <h3>Cod attivita</h3>
      @if(selectedCommessa){
        @for(attivita of JobTaskList; track attivita){
          @if(attivita.JobRecordId == selectedCommessa.JobRecordId){
            <div>{{attivita.Name}}</div>
          }
        }
      }
    </div>
  </div>

    <table>
        <thead>
            <tr>
              <th>Monday</th>
              <th>Tuesday</th>
              <th>Wednesday</th>
              <th>Thursday</th>
              <th>Friday</th>
              <th>Saturday</th>
              <th>Sunday</th>
            </tr>
          </thead>
    </table>
</div>