<div class="container">
    <div class="info">
        <h1>Rendiconto lavori</h1>
        <div>
            <label for="input">Persona:</label>
            <input type="text">
        </div>
    </div>

    <div class="week-selector">
        <button class="btn round" (click)="moveToPreviousWeek()">&#8249;</button>
        <span>{{ mondayDate | date: 'MM / dd' }} -- {{ sundayDate | date: 'MM / dd' }}</span>
        <button class="btn round" (click)="moveToNextWeek()">&#8250;</button>
      </div>
</div>
<hr>